th, td{
    padding: 15px;
    border-spacing:5px;
}

img{
    width:20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

table{
    margin-left: auto;
    margin-right: auto;
}

.share{
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.add-button{
    position:absolute;
    top:1px;
    left:1px;
}

.install{
    display: none;
}