

a {
  font-family: "proxima-nova",sans-serif;
}
html {
    height: 100%;
}

/* a:link {
  color: fff !important;
}
a{
  color: #fff !important ;
  text-decoration: underline;
}


/* visited link */
a:visited {
  color: #fff;
}
a:hover {
  color: #fff !important;
} */

/* mouse over link */
.footerlink a:hover {
  color: #fff !important;
}
.footerlink a:link {
  color: #fff !important;

}

/* selected link */

body{
    font-family: "proxima-nova",sans-serif;
    font-size:13px;
    background: rgb(92,24,22);
    /* min-height: 800px; */
    height: 100%;

  }

.bg-img{
    background-image: url('../images/bg-desktop.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  #addscreen a {
    position: absolute;
  left: -150px;
  transition: 0.3s;
  padding: 10px;
  width: 165px;
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  border-radius: 0 5px 5px 0;
  z-index: 1;
  font-weight: bold;
  }
  
  #addscreen a:hover {
    left: 0;
  }
  
  
  #add {
    top: 20px;
    background-color: #BA302B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  p {
    font-family: "proxima-nova",sans-serif;
    font-size: 13px;
    color: #1B1B1B;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: 400;
  }
.scan{
  height: 200px;
  text-align: center;
  background-color: #eee;
  border-radius: 5px;
  margin: 15px;
  overflow:hidden;
}
.img{
    width: 70%;
    height: auto;
}
.main-wrap {
    position: relative;
    width: 100%;
    background: rgb(255, 255, 255);
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 0px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
.main-wrap h2{
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    font-variant-caps: all-petite-caps;
 
}
.content p{
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  padding: 10px 0px;
}
  

.main-wrap .right{
    margin-right: 10px;
}
.form-control-icon {
    position: absolute;
    padding-top: 10px;
    z-index: 2;
    display: block;
    width: 26px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    color:#989898 !important;
    
  }
  .ficon{
    padding-left: 25px !important;
  }
 
  .input-container{
    position: relative;
    color: #c2bebe ;
    padding: 4px 0px;
  }
  .fa{
      font-size: 16px !important;
  }
  .top-pad-store{
      padding-top: 100px;
  }
  .top-pad{
    padding-top: 50px;
}
  .input-group{
    padding: 3px 0 !important;
  }
  .location{
    background-image: url("../images/location.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 21px 21px;
    left: 6px;
  }
  .user{
    background-image: url("../images/user.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 15px 17px;
    left: 6px;
  }
  .email{
    background-image: url("../images/email.png");
    background-repeat: no-repeat;
    background-position: center 10px; 
    background-size: 18px 13px;
    left: 6px;
  }

  .map{
    background-image: url("../images/map.png");
    background-repeat: no-repeat;
    background-position: center 10px; 
    background-size: 15px 18px;
    left: 6px;
  }
 
  .store{
    background-image: url("../images/store.png");
    background-repeat: no-repeat;
    background-position: center 10px; 
    background-size: 20px 17px;
    left: 6px;
  }
  .password{
    background-image: url("../images/password.png");
    background-repeat: no-repeat;
    background-position: center 10px; 
    background-size: 16px 18px;
    left: 6px;
  }
  .wrap{
      position: relative;
      overflow: hidden;
  }
.float{
    float:left;
}
.checkbox-wrap{
    float:left;
    width: 25px !important;
    padding-left: 10px;
}
.heading-wrap{
  float: left;
  font-size: 0.7rem;

}
.content-wrap{
  float: left;
  font-size: 0.7rem;
  width: 249px !important;
  padding-top: 4px;
  padding-left: 10px;
}

.prfile-wrap{
  text-align: right;
  padding-left: 40%;
}
   
.form-wrap{
 position: relative;
  margin: 0 auto;
  padding: 20px;
}
.btn{
   
    margin: 5px 0 !important;
   
    
  }
  .footerlink{
    background-color: #ba302b;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    height: 58px;
    padding-top: 10px;
  }
.mainbtn{
    background-color: #ba302b !important;
    color: #FFF !important;
    border: 1px solid #ba302b !important;
    border-radius: 5px !important;
    width: 250px !important;
    height: 43px;
    font-weight: normal !important;
    border-bottom: 3px solid #881F1B !important;
    font-variant-caps: all-petite-caps;
    text-decoration: none;
    letter-spacing: 1px;

}
.yellowbtn{
  background-color: #F5B11F !important;
  color: #FFF !important;
  border: 1px solid #F5B11F !important;
  border-radius: 5px !important;
  width: 250px !important;
  height: 43px;
  font-weight: normal !important;
  border-bottom: 3px solid #A87910 !important;
  font-variant-caps: all-petite-caps;
  text-decoration: none;
  letter-spacing: 1px;

}
.modalbtn{
  background-color: #ba302b !important;
    color: #FFF !important;
    border: 1px solid #ba302b !important;
    border-radius: 10px !important;
    width: 100px !important;
    height: 43px;
    font-weight: bold !important;
    border-bottom: 3px solid #881F1B !important;

}
.btn:hover{
    background-color: white;
    color: black;
    border: 2px solid #ba302b;
}
.center{
    text-align: center;
}
.bd-callout {
    padding: 0.75rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border: 1px solid #e1dfdf;
    border-left-width: .25rem;
    background-color: #fcfcfc;
    
  }
.bd-callout-warning {
    border-left-color: #ba302b;
  }
  .bd-callout p{
      color: #676565;
      margin: 0px;
      font-weight: bold;
  }
  .input-group-text{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    height: 38px;
    width: 38px;
    background-color: #F6F6F6 !important;
  }

.modalicon{
  float: left;
  position: relative;
  width: 10%;
}
.modalcontent{
  float: left;
  position: relative;
  width: 100%;
  text-align: center;

}
.modal-header{
  background-color: #BA302B;
  color: #fff;
  font-weight: bold;
}
.modal-close {
  position: relative;
  float: right;
  padding-bottom: 10px;
}
.modalbutton{
  position: relative;
  margin: 0 auto;
  text-align: center;
}

#mobile-header { 
  background: url(../images/mobile-bg.png) repeat-x center top; 
  height: 57px; 
  margin: 0px 0px 0px 0px;
width: 100%;  
}
#mobile-header .mobileBar { 
  margin: 0; 
  float: left; 
  width: 100%; 
  list-style-type: none; 
  padding: 0;}

	#mobile-header .mobileBar li { 
    float: left; 
    width: 20%; 
    text-align: center; 
    margin: 0; }
	#mobile-header .mobileBar li a { 
    display: block; 
    height: 57px; 
    padding: 34px 5px 20px 5px; 
    color: #000 !important; 
    font-size: 12px;
  text-decoration: none;}
  #mobile-header .mobileBar li a:hover{
    color: #000 !important;
  }

#mobile-header .mobileBar li.logo  {
    	background: url(../images/logo-dc-mobile.png) no-repeat center 10px;
    	background-size: 75px;
    	text-indent: -9999em;
 
      width:28%;
    	border-right: 1px solid rgba(0, 0, 0, 0.2)
      ;
	}

	#mobile-header .mobileBar li.menu  {
    	border-right: 1px solid rgba(0, 0, 0, 0.2);
		background: url(../images/mobile-menu.png) no-repeat center 10px;
		background-size: 27px;
    width:18%;
	}
	#mobile-header .mobileBar li.locations  {
    	border-right: 1px solid rgba(0, 0, 0, 0.2);
		background: url(../images/mobile-locations.png) no-repeat center 9px;
		background-size: 18px;
    width:20%;
	}
  #mobile-header .mobileBar li.scan  {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  background: url(../images/mobile-scan.png) no-repeat center 9px;
  background-size: 21px;
  width:17%;
}
#mobile-header .mobileBar li.profile  {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
background: url(../images/mobile-profile.png) no-repeat center 9px;
background-size: 21px;
width:17%;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px !important;
  text-align: left;
  text-decoration: none;
  display: block !important;
  height: 40px  !important;

}

.dropdown-content a:hover {
  background-color: #ddd;}

.dropdown:hover .dropdown-content {
  display: block;}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;}
.profile-details{
  padding-right: 10px;
}
.signout{
  padding-right: 10px;
}
  
.mobileMenu li.active > a {
  background: #881F1B;
  color: #FFF;}

  .mobileStores li.selectstore {
    font-size: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
    font-weight: 500;
  }
  .mobileStores li.active > a {
    background: #ba302b;
    color: #FFF !important;
  }
  .mobileStores li a {
    display: block;
    padding: 15px 20px 15px 65px;
    font-size: 14px;
    background: #FFF;
    position: relative;
    float: left;
    width: 100%;
    color: #000;
    font-weight: 500;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  .site-wrapper {
    -webkit-transform: translate3d(0%, 0px, 0px);
    position: relative;
    box-shadow: -5px -24px 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s ease;
    z-index: 999999;
    background: #FFF;
  }

  .mobileStores li a .icon {
    background: url(../images/sprites.png) no-repeat -3px -46px;
      background-size: auto;
    background-size: 501px;
    width: 40px;
    height: 35px;
    position: absolute;
    display: inline-block;
    left: 20px;
    top: 10px;
  }
  .mobileStores li.selectstore {
    font-size: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
    font-weight: 500;
  }
  .mobileStores {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eee;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .mobileStores li a {
    display: block;
    padding: 15px 20px 15px 65px;
    font-size: 14px;
    background: #FFF;
    position: relative;
    float: left;
    width: 100%;
    color: #000 !important;
    font-weight: 500;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
  ul li, ol li {
    font-size: 13px;
    color: #1B1B1B;
    margin-bottom: 5px;
  }

  element {

  }
  .mobileStores li {
  
      margin: 0;
  
  }
  ul li, ol li {
  
      font-size: 13px;
      color: #1B1B1B;
      margin-bottom: 5px;
  
  }
  div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  
      margin: 0;
      padding: 0;
      direction: ltr;
  
  }
  *, ::before, ::after {
  
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  
  }
  .mobileStores {
  
      list-style-type: none;
  
  }
  ul, ol {
    list-style-position: inside;
  }
  .mobileStores li.treasurehunt a .icon {
    background-position: -78px -47px;
  }
  .mobileStores li.dirtcheapbuilding a .icon {
    background-position: -157px -48px;
  }
  /*sub Nav*/
  .mobileMenu {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eee;
    margin: 0;
    list-style-type: none;
  }
  .mobileMenu li a {
    display: block;
    padding: 10px 20px;
    color: #000 !important;
    font-weight: 500;
    font-size: 14px;
    border-bottom: 1px solid rgba(0,0,0,.1);
  }
  .mobileMenu li.active > a {
    background: #881F1B;
    color: #FFF !important;
  }
 .red{
   color: red;
 }
 .form-select-sm{
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: .5rem;
  font-size: .75rem;
  border-radius: .2rem;
 }
 .errormessage{
  color: red;
  font-size: 11px;
  text-align: center;
  line-height: 13px;
  padding: 0px 5px 20px;
 }
 #footer {
  width: 100%;
  background: url(../images/chicken-tracks.png) repeat-x center top;
  padding: 50px 0 5px 0;
  margin: 0 auto;
}

 #footer .copyright {
  text-align: center;
  font-size: 11px;
  margin: 10px auto;
}

.back{
  background: url(../images/background.png);
  background-repeat: no-repeat;
}
.modal-body p{
  font-weight: normal;
  font-size: 1rem;
  color: #BA302B;
}
.modal-body h3{
  font-weight: bold;
  font-size: 1.3rem;
  color: #BA302B;
}
/*side nav start*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  
}
.sidenav a {
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: -21px;
  right: -7px;
  font-size: 36px;
}

.sideSubnav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -33px;
  background-color: #eee;
  overflow-x: hidden;
  transition: 0.5s;
  
}
.sideSubnav a {
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sideSubnav a:hover {
  color: #f1f1f1;
}
.sideSubnav .closebtn {
  position: absolute;
  top: -21px;
  right: -7px;
  font-size: 36px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*side nav End*/
.main-wrap h5{
  font-weight: bold;
  font-size: 1rem;
  color: #BA302B;
  text-align: center;
  padding-top: 10px;
}
.main-wrap h4{
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
  color: #000;
  padding: 10px 0;

}
.main-wrap h1{
  font-size: 2.2rem;
  text-align: center;
  font-weight: bold;
  color: #BA302B;
  padding-top: 10px;


}
.backicon{
  float: left;
  padding: 10px 0 0 5px;
}
.form-control{
  font-size: 0.8rem !important; 
  height: 43px;
  margin: 5px;
}
.form-select{
  font-size: 0.8rem !important; 
  height: 43px;
  margin: 5px;
}
.footer-text{
  font-weight: normal;
  font-size: 0.7rem;
  color: #2184E0;
  text-align: center;
  padding: 0px 0px 10px 0;
 }
 .footer-text a{
  color: #2184E0 !important;
  text-decoration: underline;
 }
 .content-wrap a{
  color:#000 !important;
  text-decoration: underline;
}
.off{
 text-align: center;
 position: relative;
 width: 100%;
  margin: 0 auto;
  margin-top: 0px;

}
.off h3{
  font-size :1rem;
  font-weight: bold;
  color:#4F4F4F;
}
.youpay{
  float: left;
  color:#4F4F4F;
  font-weight: bold;
  width: 50%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.retailprice{
  float: left;
  color:#4F4F4F;
  font-weight: bold;
  width: 50%;
  text-align: right;
}
.pay{
  font-size: 1.3rem;
  color: #BA302B;
}
.retail{
  font-size: 1.3rem;
  color: #4F4F4F;
  text-decoration: line-through;
}
.headtop{
  padding-top: 10px;
}
.loyaltyimg{
  position: relative;
  padding: 30px 0;
  text-align: center;
}
.thumbsimg{
  position: relative;
  padding: 10px 0;
  text-align: center;
}
.qr{
  position: relative;
  padding: 20px 0;
  text-align: center;
}
.padding-b{
  padding-bottom: 20px;
}

.collapsible {
  background-color: #fff;
color: #ba302b;
cursor: pointer;
padding: 5px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
text-align: center;
font-weight: bold;
}
.active, .collapsible:hover {
  background-color:#f1f1f1;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 10px 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


  .profile-wrap{
    background: #fafafa;
    color: #fff;
    padding: 10px;
    margin: 10px;
  }
  .profile-wrap p{
    font-size: 1rem;  
    line-height: 2rem;
  }
  .terms-wrap{
    position: relative;
    padding: 10px;
  }
  .terms-wrap p{
    font-size: 1rem;  
  }
.bold{
  font-weight: bold;
}
.terms-wrap p a:link{
  color: #2184E0;
}
.terms-wrap p a{
  color: #2184E0;
}

  @media screen and (min-device-width: 340px) and (max-device-width: 768px) { 
    .off{
      width: 50%;
    }
    .youpay{
      padding-left: 15%;
  
    }
    .retailprice{
      padding-right: 8%;
   
    }
    .bg-img{
      background-image: url('../images/bg1.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
    }

  }

  @media screen and (min-device-width: 769px) and (max-device-width: 810px) { 
    .youpay{
      padding-left: 16%;
     
    }
    .retailprice{
      padding-right: 9%;
     
    }

  }

  @media screen and (min-device-width: 811px) and (max-device-width: 1900px){
    .youpay{
      padding-left: 28%;
     
    }
    .retailprice{
      padding-right: 24%;
     
    }

  }